/**
 * @name AceClean
 * @version 0.0.8
 * @description Simple Clean Theme
 * @github https://github.com/AcesGamingUK/AceClean/blob/main/AceClean.theme.css
 * @github_raw https://raw.githubusercontent.com/AcesGamingUK/AceClean/main/AceClean.theme.css
 * @author AcesGamingUK
 * @updateUrl https://github.com/AcesGamingUK/AceClean/blob/main/AceClean.theme.css
 */
        
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500&display=swap');
        
:root{
    /*------------------ Font (CyberPunk) ------------------*/
    --font-primary: 'Rajdhani'; /* Font */
    /* Channel and category colors */
    --channels-default: rgb(156, 145, 119);
    --channels-muted: rgb(61, 61, 61);
    --channels-hover: green;
}
.wrapperCommon_a08117 {
    color: red;
}

.icon_d8bfb3 {
    color: cyan
}

.modeSelected_d8bfb3 .icon_d8bfb3 {
    color: yellow
}
