/**
 * @name AceClean
 * @version 0.0.9
 * @description Simple Clean Theme
 * @github https://github.com/AcesGamingUK/AceClean/blob/main/AceClean.theme.css
 * @github_raw https://raw.githubusercontent.com/AcesGamingUK/AceClean/main/AceClean.theme.css
 * @author AcesGamingUK
 * @updateUrl https://github.com/AcesGamingUK/AceClean/blob/main/AceClean.theme.css
 */
        
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500&display=swap');
        
:root{
/*------------------ Font (CyberPunk) ------------------*/
        --font-primary: 'Rajdhani'; /* Font */
/*------------------ Channel and category colors ------------------*/
        --channels-default: rgb(251,207,0); /* CP Yellow */
        --channels-muted: rgb(61, 61, 61); /* Slate Gray */
        --channels-hover: green;
	--background-mentioned-hover: red;
	--text-normal: rgb(144, 220, 243);
/*------------------ Edits ------------------*/
        --Chatbox-Gift-Button: none;						/* flex = ON, none = OFF */
        --Chatbox-GIF-Button: none;						/* flex = ON, none = OFF */
	--Chatbox-Stickers-Button: none;					/* flex = ON, none = OFF */
}
/* Expand and plus buttons */
.wrapperCommon_a08117 {
    color: red;
}
/* Channel icons */
.icon_d8bfb3 {
    color: cyan
}
/* Channel Icons Selected */
.modeSelected_d8bfb3 .icon_d8bfb3 {
    color: rgb(251,207,0)
}
