/*
 * @name AceClean
 * @author AcesGamingUK
 * @description Simple Clean Theme
 * @version 0.0.1
 * @import url("https://acesgaminguk.github.io/AceClean/AceClean.css")
 * @updateUrl 
 */

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500&display=swap');

:root {
/*------------------ Custom Variables ------------------*/
    --BBG: rgb(15, 15, 15); /* Black-ish */

/*------------------ Background ------------------*/
    --background-primary: var(--BBG);
    --background-secondary: var(--BBG);
    --background-secondary-alt: var(--BBG);
    --background-tertiary: var(--BBG);
    --channeltextarea-background: var(--BBG);
    --background-floating: var(--BBG);

/*------------------ Font (CyberPunk) ------------------*/
    --font-primary: 'Rajdhani'; /* Font */

/*------------------ colors ------------------*/
    --text-normal: rgb(255, 255, 255);
        	/* Channel and category colors */
    --channels-default: white;
    --channels-muted: rgb(61, 61, 61);
    --channels-hover: green;
}
.form_a7d72e {
    height: 40px; /* Adjust this value to your preferred height */
    width: auto; /* Adjust this value if you need a specific width */
    padding: 5px; /* Adjust padding as needed */
    font-size: 14px; /* Adjust font size if necessary */
}
